@media (min-width: 300px) {

    footer {
        display: flex;
        justify-content: space-evenly;
    }

    .skills {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .profiles>aside:nth-child(1) {
        @include skillProfile("/img/member1.png");
    }

    .profiles>aside:nth-child(2) {
        @include skillProfile("/img/member2.png");
    }

    .profiles>aside:nth-child(3) {
        @include skillProfile("/img/member3.png");
    }

    .profiles>aside:nth-child(4) {
        @include skillProfile("/img/member4.png");
    }

    .profiles h3,
    .profiles span,
    .profiles div {
        display: none;
    }

    .design-skills {
        @include flexColumn(60px, center, unset);
        font-size: 14px;
        font-weight: 300;

        >div:nth-child(1) {
            @include flexColumn(0px, center, unset);
            text-align: center;
        }

        >div:nth-child(2) {
            @include flexColumn(15px, center, unset);
        }
    }

    .skill-description {
        @include flexColumn(25px);
    }

    .progress-bar {
        width: 100%;
        @include flexColumn(10px, unset, unset);
        color: whitesmoke;

        span {
            height: 4vh;
            display: flex;
            font-weight: 600;
            padding-left: 10%;
            align-items: center;
            background-color: $defaultColor;
        }

        %p-progress {
            width: 100%;
            background-color: gainsboro;
            display: flex;
        }

        >p:nth-child(1) {
            @extend %p-progress;

            >span {
                width: 80%;
            }
        }

        >p:nth-child(2) {
            @extend %p-progress;

            >span {
                width: 75%;
            }
        }

        >p:nth-child(3) {
            @extend %p-progress;

            >span {
                width: 60%;
            }
        }

        >p:nth-child(4) {
            @extend %p-progress;

            >span {
                width: 70%;
            }
        }

    }

    .contact {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        >article:nth-child(2) {
            display: flex;
            flex-direction: column;
            row-gap: 35px;
        }

        >article:nth-child(2)>article {
            display: flex;
            flex-direction: column;
            row-gap: 35px;
            font-size: 14px;
            font-weight: 300;
        }

        div {
            display: flex;
            flex-direction: column;
        }

        form {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            width: 100%;
        }

        input,
        textarea {
            width: 90%;
            padding: 3%;
            border: 1px solid lightgray;
            font-size: 18px;
            font-weight: 300;
        }

        textarea {
            height: 20vh;
            font-family: $defaultFont;
        }

        [type="submit"] {
            width: 95%;
            background-color: $defaultColor;
            color: whitesmoke;
            border: 0px none transparent;
        }


    }
}